<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create Game</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" type="text/html" href="../public/css/tableBasic.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>

<body>
    <div class="container">
        <div class="container">
            <div class="row">
                <div class="col-12" id="selected-players">

                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <form>
                        <div class="form-group">
                            <label for="gametype-select">Select Your GameType</label>
                            <select multiple class="form-control" id="gametype-select">
                                <option>Texas Hold-Em</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="col-6">
                    <div class="table" ng-app="app" ng-controller="TableCtrl">
                        <header>
                            <span>Min Seats/Table:</span>
                            <input type="number" ng-model="options.seats" ng-init="options.seats=5" />
                            <button class="btn btn-success" ng-click="generate()">Generate Tables</button>
                        </header>
                        <ul>
                            <li ng-repeat="table in tables">
                                <header>Table {{$index+1}}</header>
                                <div class="person" ng-repeat="person in table track by $index">{{person}}</div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="container" id="player-list">

                </div>


            </div>

            <script>



                var app = angular.module('app', []).controller('TableCtrl', function ($scope) {


                    $scope.generate = function () {
                        var players = [];
                        $('button[data-selected=true]').each(function (index, button) {
                            players.push($(this).text());
                        });
                        $scope.tables = [];
                        var players1 = players.slice(0);
                        console.log(players)
                        console.log(players1)
                        var seats = $scope.options.seats;
                        console.log("seats: " + seats);
                        var tables = Math.floor(players.length / seats);
                        console.log("tables:" + tables)
                        var r = players.length % seats;
                        console.log(r);
                        if (r > 0) {
                            seats++;
                            r = players.length % seats;
                        };
                        for (var i = 0; i < tables; i++) {
                            var people = [];
                            console.log("pushing to table " + i);
                            for (var p = 0; p < ((r > i) ? seats + 1 : seats); p++) {
                                console.log("pushing to people" + p);
                                people.push(players1.splice([Math.floor(Math.random() * players1.length)], 1)[0])

                            }
                            $scope.tables.push(people);
                        };
                    };
                });

                $(document).ready(function () {


                    $.ajax({
                        url: "../api/profiles/",
                        method: 'GET'
                    }).then(function (results) {
                        results.forEach(function (profile) {
                            var button = $("<button>");
                            button.text(profile.nickName);
                            button.addClass("btn btn-primary profile-button");
                            button.attr('data-id', profile.id);
                            button.attr('data-selected', false)
                            $("#player-list").append(button);
                        });

                        $(".profile-button").on('click', function (event) {
                            var selected = $(this).attr('data-selected');

                            if (selected === 'false') {
                                $(this).attr('data-selected', true);
                                $("#selected-players").append($(this));
                            } else {
                                $(this).attr('data-selected', false)
                                $("#player-list").append($(this));
                            }

                        });

                        $("#start-game").on('click', function (event) {
                            event.preventDefault();
                            players = [];
                            var minPlayers = $("#min-players").val();
                            $('button[data-selected=true]').each(function (index, button) {
                                players.push($(this).text());
                            });
                        });
                    })


                })
            </script>
</body>

</html>