<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" media="screen" href="css/frontPage.css" />
    <title>Document</title>
</head>

<body>
    <div id="curve-title">
        <svg viewBox="0 0 500 150">
            <path id="curve" d="M73.2,148.6c4-6.1,65.5-96.8,178.6-95.6c111.3,1.2,170.8,90.3,175.1,97" />
            <text width="500">
                <textPath xlink:href="#curve">
                    -<tspan>&#9824;</tspan><tspan>&#9829;</tspan><tspan>&#9827;</tspan><tspan>&#9830;</tspan>-<tspan>Poker Manager</tspan>-<tspan>&#9824;</tspan><tspan>&#9829;</tspan><tspan>&#9827;</tspan><tspan>&#9830;</tspan>-
                </textPath>
            </text>
        </svg>
    </div>
    <div id = "buttons">
    <a class="push_button red" href="/creategame">Start Game</a>
    <a class="push_button blue" href="createprofile">Create/Login Profile</a>
    
    </div>
</body>

</html>