<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
        crossorigin="anonymous">
    <title>Login</title>

    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin-bottom: 20px;" style="width:100%;">
        <a class="navbar-brand" href="#">Poker Manager</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>

            </ul>

        </div>
    </nav>
</head>
<div class="container">
    <div class="row">
        <div class="col-12" style="height:200px;">

        </div>
    </div>
</div>




<body background="images/blackjack-classic-background.jpg">
    <div class="container" style="width:50%; ">
        <form>
            <div class="form-group">
                <label for="exampleInputEmail1" style="color:white;">Username</label>
                <input type="username" class="form-control" id="username" aria-describedby="emailHelp" placeholder="Enter username">

            </div>
            <div class="form-group">
                <label for="exampleInputPassword1" style="color:white;">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Password">
            </div>

            <button type="submit" class="btn btn-primary" id="login">Submit</button>
        </form>
    </div>





    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>

    <script>


        $(document).ready( function () {
            console.log('loaded');
            $("#login").on('click', function (event) {
                event.preventDefault();
                console.log("submitting login");
                var authenticationData = {
                    username: $("#username").val(),
                    password: $("#password").val()
                }
                $.ajax({
                    url: '/login',
                    method: "POST",
                    data: authenticationData
                }).then(function (results) {
                    console.log(results);
                    $("body").replaceWith(results);
                })
            })
        })


    </script>
</body>

</html>