<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Poker Tournament Manager</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="./layouts/style.css" />
    <script src="main.js"></script>
</head>

<body>
    <div class="wrapper">
        <div class="app">
            <div class="main-heading">
                <label> Poker Tournament Manager</label>
            </div>
            <label id="minutes">00</label>:<label id="seconds">00</label>
            <div class="tournament-settings">
                <div class="tournament-settings-item">
                    <label>Entries</label>
                    <input type="number" class="form-control" name="playersCounter">
                </div>
                <div class="tournament-settings-item">
                    <label>Players in the Game</label>
                    <input type="number" class="form-control" name="currentPlayersCounter">
                </div>
                <div class="tournament-settings-item">
                    <label>Buy-in</label>
                    <input type="number" class="form-control" name="buyIn">
                </div>
                <div class="tournament-settings-item">
                    <label>Starting Chips</label>
                    <input type="number" class="form-control" name="startingChips">
                </div>
                <div class="tournament-settings-item">
                    <label>Level Duration (sec)</label>
                    <input type="number" class="form-control" name="blindTime">
                </div>
                <div class="blinds-structure-caption">Small/Big Blinds

                </div>

                <div class="buttons-block">
                    <button class="btn btn-primary" @click="startPause">Start</button>
                    <button class="btn btn-success" @click="settingsShowed = true">Settings</button>
                </div>
                <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="">User/Nickname</span>
                    </div>
                    <input type="text" class="form-control">
                    <input type="text" class="form-control">
                  </div>
            </div>
            <script>
            var minutesLabel = document.getElementById("minutes");
var secondsLabel = document.getElementById("seconds");
var totalSeconds = 0;
setInterval(setTime, 1000);

function setTime() {
  ++totalSeconds;
  secondsLabel.innerHTML = pad(totalSeconds % 60);
  minutesLabel.innerHTML = pad(parseInt(totalSeconds / 60));
}

function pad(val) {
  var valString = val + "";
  if (valString.length < 2) {
    return "0" + valString;
  } else {
    return valString;
  }
}</script>
  <!-- for updating stats later         <div class="table-block">
                    <div class="table-block-item">
                        <span class="caption">Total Players in the game:</span>
                        <nobr>{{playersCounter}} / {{currentPlayersCounter}}</nobr>
                    </div>
                    <div class="table-block-item">
                        <span class="caption">Buy-in:</span> {{buyIn}}
                    </div>
                    <div class="table-block-item">
                        <span class="caption">Prize pool:</span> {{prizePool}}
                    </div>
                    <div class="table-block-item">
                        <span class="caption">Starting chips:</span> {{startingChips}}
                    </div>
                    <div class="table-block-item">
                        <span class="caption">Average stack:</span> {{averageStack}}
                    </div>
                    <div class="table-block-item">
                        <span class="caption">Level:</span> {{blindsCounter}}
                    </div>
                    <div class="table-block-item">
                        <span class="caption">Level duration (sec):</span> {{blindTime}}
                    </div>
                    <div class="table-block-item">
                        <span class="caption">Next Blinds: </span>
                    </div>
                    <div class="table-block-item prizes">
                        <div class="caption">Prizes</div>
                        
                    </div>
                </div> -->

        </div>
    </div>

</body>

</html>