body{
    background: url("../images/green.jpg");
    color: orange;
    
}
.wrapper {
    padding: 20px;
    max-width: 500px;
    position: relative;
}

.tournament-settings, .main {
    position: absolute;
    width: auto;
    margin-right:20px;
    margin-left: 20px;
    display: flex;
    flex-wrap: wrap;
}

.tournament-settings-item {
    width: 33.3%;
    padding: 20px;
}

.main-heading {

    font-size: 30px;
    text-align: center;
    margin-top: 30px;
    font-weight: 600;
}
