html, body {
    font-family: helvetica neue, arial;
}

body {
    background-image: url("../images/green.jpg");
    background-size: cover;
    color:#FF9800;
}

input, button {
    font-family: helvetica neue, arial;
    font-size: 16px;
}

button {
    background: #f4f4f4;
    border: 1px solid #ccc;
    outline: none;
}

.table > header {
    padding: 3px;
    
}
.table > header input {
    border: 1px solid #ccc;
    padding: 2px 2px 3px;
    width: 30px;
}

ul,li {
    list-style: none;
    padding: 0;
    margin: 0;
    float: left;
}
li {
    float: left;
    min-width: 150px;
    margin-right: 5px;
}

li header {
    background: #ddd;
    padding: 3px;
    color: black;
}

.person {
    padding: 3px;
}

.profile-button {
    margin: 5px;
}

